In [ ]:
import json
import pandas as pd
import glob as glob

methods = {
    "Baseline": "qwen-2.5-x.5B-instruct-countdown-baseline",
    "OP": "qwen-2.5-x.5B-instruct-sft-lora-countdown-optimal-seq8k-5k",
    "SoS": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-seq8k-5k", 
    "RSoS": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-correct-seq10k-5k", 
    "Distill": "qwen-2.5-x.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k"
}

tasks = {
    "Countdown": "test_128", 
    "Countdown-3": "countdown_3num_128", 
    "Countdown-5": "countdown_5num_128",
    "KnK": "knk"
}

sizes = ["0.5B", "1.5B"]

def parse_results_from_json(file):
    try:
        with open(file, 'r') as f:
            data = json.load(f)
        # print("File:", file)
        # Extract the relevant information from the JSON data   
        if "knk" in file:
            return data["scores"]["2ppl"]    
        if "countdown" in file or "test" in file:
            # hyperparams = data[0]['hyperparams']
            return data[1]['mean']*100
    except Exception as e:
        print("Error reading file:", file)
        print("Error message:", e)
        return None

# initialize results to store for sizes, method_key, task_key
results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in sizes}

for size_val in sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}/{task_val}*.json".replace("x.5B", size_val) 
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                 
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                           for i in results.keys() 
                           for j in results[i].keys()},
                           orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("results.tex", index=True, float_format="%.2f")
df

                0.5B                                1.5B                      \
            Baseline    OP    SoS  RSoS Distill Baseline    OP    SoS   RSoS
Countdown        0.0  2.34  37.50  0.78   25.78     0.78  5.47  49.22  52.34
Countdown-3      0.0  1.56  33.59  0.00   42.97     3.12  4.69  57.81  62.50
Countdown-5      0.0  0.78   0.00  0.00    0.78     0.00  0.78   0.00   0.00
KnK              1.0  1.50   0.00  0.00    1.50     7.00  2.50   0.00   0.00


            Distill
Countdown     44.53
Countdown-3   71.09
Countdown-5    1.56
KnK           12.00

In [10]:
sizes = ["1.5B"]

methods = {
    "No rejection \nsampling": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-seq10k-5k",
    "With rejection \nsampling": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-correct-seq10k-5k"
}

tasks = {
    "Countdown:": "test_128", 
}

results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in sizes}
for size_val in sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}/{task_val}*.json".replace("x.5B", size_val) 
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                        for i in results.keys() 
                        for j in results[i].keys()},
                        orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("results.tex", index=True, float_format="%.2f")
df

                              1.5B
           No rejection \nsampling With rejection \nsampling
Countdown:                     NaN                     52.34

In [19]:
results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in training_sizes}
results

{'1k': {'SoS': {'Countdown:': None}, 'Distill': {'Countdown:': None}},
 '5k': {'SoS': {'Countdown:': None}, 'Distill': {'Countdown:': None}}}

In [21]:
training_sizes = ["1k", "5k"]

methods = {
    "SoS": "qwen-2.5-1.5B-instruct-sft-lora-countdown-search",
    "Distill": "qwen-2.5-1.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k"
}

tasks = {
    "Countdown:": "test_128", 
}

results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in training_sizes}
for size_val in training_sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}*{size_val}/{task_val}*.json"
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                        for i in results.keys() 
                        for j in results[i].keys()},
                        orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("1k-vs-5k.tex", index=True, float_format="%.2f")
df

               1k             5k
              SoS Distill    SoS Distill
Countdown:  32.81   31.25  52.34   44.53

In [41]:
# load json
with open("/cs/student/msc/ml/2024/ycheah/projects/sos/stream-of-search/results/qwen-2.5-1.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k/test_128_20250406-195241.json", 'r') as f:
    data = json.load(f)
    
i = 22
print(f"Solved: {data[i]['parsed_results']['solved']} \n", data[i]['completion'])

Solved: False
 system
You are Qwen, created by Alibaba Cloud. You are a helpful assistant.
user
Combine these initial numbers [59, 1, 92, 34] using only arithmetic operations (+, -, *, /) to reach the target value 53. All initial numbers must be used exactly once.
Conclude with the final result in EXACTLY this format:
```
SOLUTION: YES/NO
OPERATIONS: list of string of operations performed, each string involving only 1 operation. For example, ['A+B=C','C+D=E'] is allowed, ['A+B+D=E'] is not allowed
RESULT: final_value
```

Note that the solution does exist. Verify your solutions before your present your final results and backtrack to correct mistakes from before your mistakes if you have to.

assistant
Okay, let's see. I need to combine the numbers 59, 1, 92, and 34 using each exactly once with arithmetic operations to get 53. Hmm. Let me start by thinking about possible combinations.

First, maybe subtract some big numbers? Like 92 minus something. 92 - 59 is 33. Then we have 33 plus 1 is 34. But then how do I use 34 again? Wait, but all numbers must be used exactly once. So perhaps combining them step by step.

Alternatively, what if I add two large numbers first. For example, 59 + 34 = 93. Then subtract 92 gives -7, which doesn't help. Or 92 - (something). Maybe 92 divided by something?

Wait, maybe multiply or divide smaller numbers. Let's try:

If I take 59 and 1. If I subtract 58 (which would require adding 1), but how else can I use 1? Alternatively, multiplying 1 might help. What if I do 59 * 1 = 59. Then maybe 59 plus something else. Not sure. Hmm.

Another approach: Combine 92 and 34 first. 92 - 34 = 58. Then 59 and 58. How? 59 + 58=117. No. Or 59-58=1. Then 1 and 1. Not useful. Alternatively, 58 + 1=59. Still no. 58*1=58. Not helpful. 58/1=58. Also no.

What if I combine 92 and 1. 92 + 1 =93. Then 93 and 34. 93 -34=59. Then 59 and 59 (but wait, original numbers must be used exactly once.) Oh right, each number has to be used once. So for example, after getting 93 and 34, maybe subtract them to get 59. Then we still have 59 left, but it's already been used in another operation. Wait, no, because when combining 92 and 1 first, the next steps involve using those intermediates. Let me think.

So perhaps:

Step 1: 92 - 1 = 91. Now we have 91, 59, 34.

Then step 2: 59 - 34 = 25. Now intermediate values are 91 and 25.

But now how to combine these? 91 +25=116. Not helpful. 91-25=66. Still not 53. 25*2=50. Close but not exact. Hmm.

Alternatively, step 1: 92 / 1 =92. Now we have 92,59,34. Step 2: 59 -34=25. Now intermediate 92 and 25. Step3: 92 +25=117. Again, same as before.

Not helpful. This seems like a dead end. Let's think differently.

What if we do 59 + 1 =60. Then 92 -34=58. Then 60 -58=2. Not helpful. But 60 -58=2. That uses three numbers: 59,1,92,34. Each once. So 60-58=2. But the problem requires reaching 53. So 60-58=2. Then where's the 53? Because 2 isn't 53. Hmm.

Wait, perhaps combining other numbers. Let's consider multiplication. For example, 34 * something. 34*1=34. Then 59 and 92. 92-59=33. Then 34 +33=67. Not helpful. Alternatively, 59 +92=151. Then 151 -34=117. Then 117 divided by something? No, but all numbers are already used except one. Wait, perhaps 59 +92=151. Then 34 is left. How to make 53 from 151 and 34. 151-34=117. Not 53. Or 151 +34=185. Not helpful. Alternatively, 34 * 3 = 102. 151-102=49. No.

Alternatively, 59 * 1 =59. Then 92 -59=33. Then 33 and 34. 33 +34=67. Still no. 33*34=1122. Way over.

Hmm. Another idea: 92 - (59 + 34) = 92-93=-1. Then add 1 to get 0. Not helpful.

Wait, maybe division could help. Let's think. Suppose we have an equation where we can create fractions. For instance, (a op b) / c = d. Then d multiplied by e gives us our desired value.

For example, if we do ((92 - (59 +34)) *1)/ something. Let's compute:

92 - (59 +34) = 92 -93 = -1. Then (-1)*1 = -1. Not helpful.

Or ((59 -34) /1) * something. 59-34=25. 25/1=25. Multiply by 1 more than needed? Wait, but all numbers must be used exactly once. So in this case, 59-34=25. Using both. Then dividing by 1 leaves 25. Adding any remaining number would exceed the target. Wait, but the problem says all initial numbers must be used exactly once. So if I perform 59-34=25, then the remaining numbers are 59, 1, 92. But in this scenario, all four numbers are used once. So 59,34,1,92. Then the operations are done in steps, each step combining two numbers into a new one. Wait, but here, after step 1: 59-34=25. Now we have 25,59,92. Next step: 92 -59=33. Now intermediate 33, and 25. Then 33 +25=58. No. Or 33-25=8. Not 53. Hmm.

Alternatively, step 1: 59 + 34=93. Now 93,59,92. Then step 2: 92 -59=33. Intermediate 33. Now 93 and 33. Then 93 -33=60. Not helpful. Or 93 +33=126. No.

Hmm. Maybe 59 + 34 =93. Then 92 -93 = -1. Then multiply by 1? Not sure. Or 93 *1=93. Then 93-92=1. Then 1 is left. Not helpful.

Wait, maybe division in a way that cancels out. Let's say 92/(59-34)=92/25=3.68. Then 3.68 +1=4.68. No. Not close.

Another angle: Let's try to create 53 through a combination of operations. Let's see:

Suppose we have 92 - x =53. Then x=39. How to get 39 from 59,1,34. Possible ways: 59 - (34 - (1))? Wait, 34-1=33. 59-33=26. No. Alternatively, 59 - (34 +1) =24. 92-24=68. No. Hmm. Alternatively, 59 - (34 +x) =53 → x=59-53=6. How to get 6 from 1 and 92. 92 /1=92. 92-86=6. But how to get 86? Not helpful.

Alternatively, 34 * (something) =53. 53/34 ≈1.588. How to get that from 59,1. 59 - (1*(something)). Hmm. Not sure.

Alternatively, 59 - (92 - (34* something)) ? Let's see. 34*1=34. 92-34=58. 59-58=1. Then 1 is left. Not helpful.

Wait, maybe 92 - (59 +34) = -1. Then 1 * something. 1 *59=59. Then 59. But all numbers used: 59,34,92. The intermediate steps are -1, then 1*59. Not helpful.

Hmm. Let's try a different path. What if we do 59 + 1 =60. Then 60 -34=26. Then 92 -26=66. No. Not 53.

Alternatively, 59 + 1 =60. 60 -34=26. 92 -26=66. No.

Wait, maybe 59 -34=25. 92 -25=67. 67 - something. Wait, but all numbers are already used. Wait, no. We've used 59,34,92,1. But the operations would be steps. Like first 59-34=25, then 92-25=67. Then the remaining number is 67, but we need to reach 53. So maybe this isn't the way.

Alternatively, 59 +1=60. Then 60 -34=26. Then 92 -26=66. Still no.

Wait, perhaps using division. Let's think of fractions. For example, 92 divided by something equals a certain value. Let's see: 92 divided by 17 is around 5.35... Which is not helpful. But 53 is a prime number, so maybe there's a way.

Alternatively, 59 + 34 =93. Then 93 -92=1. Then 1 *1=1. But this uses all numbers. Then 1*1=1. Not 53.

Hmm. Let's try another approach. Let's list all possible pairs and their operations.

Possible pairs:

(59,1): Can combine in various ways. For example, 59+1=60; 59-1=58; 1-59=-58; etc.

(59,92): Possible operations. 59+92=151; 92-59=33; 59*92=5408; 92/59≈1.549...

(59,34): 59+34=93; 59-34=25; 34-59=-25; 59*34=1966; 34/59≈0.578

(1,92): Same as above.

(1,34): 1+34=35; 34-1=33; 1*34=34; 34/1=34.

(92,34): 92+34=126; 92-34=58; 34-92=-58; 92*34=3108; 34/92≈0.369.

Now, looking for combinations that can lead towards 53. Let's see. Perhaps combining two larger numbers first. For example, 92-34=58. Then 58 and 59. How to get from 58 to 53? 58-5=53. How to get 5 from 59 and 1. 59-54=5. But how to get 54? Not helpful. Alternatively, 58 +5=63. No. 58-5=53. So if we can get 5 from 59 and 1, but 59-54=5. But 54 isn't available. Alternatively, 59 divided by something. 59/14.285≈4.285. Not helpful. Hmm.

Alternatively, maybe 58 +5=63. Then 63 - something. Wait, but 53 is required. So maybe that's not the way. Instead, perhaps 58 + (59 -1) =58+58=116. Then 116 - (92)? 116-92=24. No. Not helpful.

Alternatively, 58 +59=117. 117-92=25. Not 53.

Hmm. Maybe 58 - (59 -34) =58-25=33. Then 33 +1=34. Not helpful.

Wait, another approach. Let's think of 53 as 59 -6. So maybe 6 comes from 1,92,34. How?

Looking for 6 from 1,92,34. For example, 92 - (34 * something). 34*2=68. 92-68=24. 59-24=35. Not 53. Alternatively, 92 - (34 +1)=57. 59-57=2. No.

Alternatively, 34 + (92 / something). 92 divided by 13 is 7. So 34 +7=41. 59-41=18. No. Not helpful.

Alternatively, 92 divided by (34 -1)=92/33≈2.787. Then 59 -2.787≈56.213. No. Not helpful.

Hmm. Maybe 59 - (something) =53. So that something is 6. How to get 6 from 1,92,34. As mentioned earlier, 92-34=58. 58-5=53. How to get 5 from 59 and 1. 59-54=5. But 54 isn't available. Alternatively, 59 divided by something. 59/14.285≈4.285. Not helpful.

Alternatively, 92 - (34 +1)=57. 59-57=2. No.

Hmm. Maybe 92 - (59 +34)=8. Then 8 *1=8. Not helpful.

Wait, maybe (92 - (59 +34)) *1. Let's compute that. 92-93= -1. -1*1= -1. Not helpful.

Alternatively, 92 - (59 +34) = -1. Then 1*(-1) = -1. But all numbers are already used.

Hmm. What if we do (59 - (92 / (34 -1))). Let's calculate denominator: 34-1=33. 92/33≈2.787. 59-2.787≈56.213. No.

Alternatively, 92 divided by (34 - (59 -1)). Wait, 59-1=58. 34-58= -24. 92/-24≈-3.833. Not helpful.

Alternatively, (59 -34) * (92 -1). 25 *91=2275. No.

Wait, perhaps using subtraction and addition. Let's think: 59 - (92 -34) -1. Calculate 92-34=58. 59-58=1. Then 1-1=0. Not helpful.

Alternatively, (92 - (59 +34)) +1. 92-93= -1. -1+1=0. No.

Hmm. Maybe a different order. Let's try combining 92 and 1 first. 92 +1=93. Then 93 and 34. 93 -34=59. Then 59 and 59. No, but original numbers must be used exactly once. So 92+1 uses 92 and 1. Remaining numbers are 59,34. So 93-34=59. Then 59 and 59 (original ones?). Wait, no. After 92+1=93, then we have 93 and 34 left. Then 93-34=59. Then we have 59 and the original 59. But the original 59 was already used. So that's invalid.

Ah! Wait, that's a problem. Because each operation combines two numbers at a time. So if I first do 92+1=93, then I have 93 and 34. Then I do 93-34=59. Then I have 59 and the original 59. So that uses all numbers. But the original 59 is already used in the first operation. So that's not allowed. Because according to the rules, each number must be used exactly once. So in this approach, after the first step (92+1), we have 93 and 34. Then we combine them, producing 59. Then we have 59 (from previous step) and the original 59. So the original 59 hasn't been used yet. Therefore, that's invalid.

So that approach won't work.

Another Idea: Let's think of combining 59 and 34 first. 59 +34=93. Then 93 and 92. 93-92=1. Then 1 and 1. No.

Alternatively, 92 -34=58. Then 58 and 59. 58+59=117. Then 117 divided by something? 117/1=117. Not helpful.

Wait, perhaps (92 - (59 +34)) *1. Let's compute 92-93=-1. -1*1= -1. Then how to use 59 again? But 59 is already used.

Alternatively, 92 - (59 +34) =8. Then 8 *1=8. But 8 is not 53.

Hmm. What if we do 59 - (92 -34). 92-34=58. 59-58=1. Then 1 *1=1. But that uses 59,34,92,1. So all numbers. Then 1*1=1. Not 53.

Alternatively, 92 - (59 +34) =8. 8 * (1) =8. No.

Hmm. Maybe (59 *1) =59. Then 92 -59=33. Then 33 and 34. 33+34=67. No.

Wait, 59*1=59. Then 59-34=25. Then 25 and 92. 92-25=67. No.

Alternatively, 59-34=25. Then 25 * (92 -1). 92-1=91. 25*91=2275. No.

This is frustrating. Let's think outside the box. Maybe we need to use division in a clever way. For example, 92 divided by something. Let's see:

92 divided by (34 - (59-1)). Let's compute inside parentheses: 59-1=58. 34-58= -24. 92/-24≈-3.833. Not helpful.

Alternatively, 92 divided by (59 -34) =92/25=3.68. Then 3.68 +1=4.68. Then 4.68. Not helpful.

Hmm. Maybe (59 -34) * (1 - (92 / something)). Let's see. 59-34=25. 92 divided by something. 92 divided by 14.285≈6.47. 25*(6.47)≈161.75. No. Not helpful.

Alternatively, (59 - (92 -34)) *1. 92-34=58. 59-58=1. 1*1=1. Not helpful.

Hmm. Maybe combining multiple steps. Let's think:

Let's try starting with 92 -34=58. Then 58 and 59. How to get from 58 to 53. 58-5=53. How to get 5 from 59 and 1. 59-54=5. Not helpful. Alternatively, 59-54=5. But 54 isn't available. Hmm.

Alternatively, 58 +5=63. Then 63 - something. But we're stuck.

Wait, perhaps using division in a different way. Let's see:

92 divided by 1=92. Then 92 and 59. 92-59=33. Then 33 and 34. 33+34=67. No.

Alternatively, 92 divided by 1=92. 92-34=58. 58-59= -1. Not helpful.

Hmm. Maybe (92 - (59 +34)) *1. 92-93=-1. -1*1= -1.

No good.

Alternatively, (92 - (59 +34)) /1. 92-93=-1. -1/1=-1.

Still not helpful.

Wait, what if we do 59 - (92 / (34 -1)). Compute denominator: 34-1=33. 92/33≈2.787. 59-2.787≈56.213. No.

Alternatively, 92 divided by (34 - (59 -1)). 59-1=58. 34-58= -24. 92/-24≈-3.833. No.

Hmm. Maybe using subtraction and division together. Let's think: (92 - (59 +34)) /1. 92-93=-1. -1/1=-1. Not helpful.

Alternatively, (92 - (59 +34)) * (1). 92-93=-1. -1*1=-1.

Not helpful.

Wait, maybe (59 +34) - (92 /1). 59+34=93. 93-92=1. 1*1=1.

Again, same issue.

Hmm. What if I use 92 - (59 +34) =8. Then 8 *1=8. But 8 is not 53.

Alternatively, 92 - (59 +34) =8. Then 8 *1=8. But 8 is not 53.

Hmm. Maybe I'm missing something. Let's think again. The target is 53. Let's see if there's a way to get 53 using a combination of operations.

For example, 59 - 6 =53. How to get 6 from 1,92,34. 92 -34=58. 58-5=53. But how to get 5 from 59 and 1. 59 -54=5. But 54 isn't available. Hmm. Alternatively, 92 divided by (34 -1)=92/33≈2.787. Then 59 -2.787≈56.213. Not helpful.

Alternatively, 59 - (92 -34) =59-58=1. Then 1 +1=2. Not helpful.

Wait, what if I do 92 - (59 +34) =8. Then 8 + (59 -1) =63. Then 63 - something. Not helpful.

Alternatively, 92 - (59 +34) =8. Then 8 + (59 +1) =77. No.

Hmm. Maybe 59 - (92 -34) -1. 92-34=58. 59-58=1. 1-1=0. Not helpful.

Alternatively, (92 - (59 +34)) -1. 92-93= -1. -1-1= -2. No.

Hmm. Let's try a different approach. Maybe combining 1 and 34. 34 divided by 1 is 34. Then 59 and 92. 92-59=33. 33 +34=67. No.

Alternatively, 34 *1=34. 92-34=58. 59-58=1. Then 1. But again, all numbers are used.

Hmm. Maybe 92 - (59 + (34 -1)). 34-1=33. 59+33=92. 92-92=0. No.

Alternatively, 92 - (59 +34) =8. Then 8 *1=8. But 8 is not 53.

Hmm. Let's think of the operations step by step. Since we have to use all numbers once, each operation reduces the count by one. So initially, four numbers. Three operations are needed. Let's structure the operations as follows:

First operation: combine two numbers into a new one. Second operation: combine that result with another number. Third operation: combine that with the last one.

For example:

Operations:

Option A: 92 -34 =58 (now we have 58,59,1)

Second step: 59 -58 =1 (now we have 1,1)

Third step: 1 *1 =1 (not helpful).

Option B: 59 -1=58 (using 59 and 1)

Second step: 92 -58=34 (using 92 and 34)

Third step: 34 +34=68 (using 34 and 34, but 34 is already used. Wait, no, 34 is part of the second step. So third step is 34 +34=68. But that uses 34 twice. Because the first step uses 92 and 34, and the second step uses 59 and 34 (the original one). So yes, the third step is valid.

But that gets 68. Not 53.

Hmm. Option C: 59 +1=60 (using 59 and 1)

Second step: 60 -34=26 (using 60 and 34)

Third step: 92 -26=66 (using 92 and 26)

That's also 66.

Option D: 92 /1=92 (uses 92 and 1)

Second step: 92 -59=33 (uses 92 and 59)

Third step: 33 *34=1122 (uses 33 and 34, but originally 34 was used in step 2.)

Hmm. None of these seem to hit 53.

Wait, option B works. Let me check:

First operation: 92 -34=58. Now, the numbers used are 92 and 34. Remaining numbers: 59,1.

Second operation: 59 -58=1. Now, the numbers used are 59 and the result from step 1 (58). Remaining numbers:1.

Third operation:1 *1=1. But that's just using 1 once. But original 1 is unused. So this uses all numbers. So the operations would be:

['92-34=A', 'A-59=B', 'B-1=53']

But wait, each operation must involve only two operands. In the first step, 92-34=58. Then in the second step, 59-58=1. Then in the third step, 1*1=1. So that uses all four numbers. But the final result is 1, not 53.

But the user wants the result to be 53. So that approach isn't working.

Hmm.

Another possibility:

First operation: 59 -34=25 (using 59 and 34)

Second operation: 25 +1=26 (using 25 and 1)

Third operation: 92 -26=66 (using 92 and 26, but 26 is derived from the first step, so original 1 is used here.)

But again, all numbers are used. Result is 66.

Not helpful.

Alternatively, first operation: 59 +1=60 (using 59 and 1)

Second operation: 60 -34=26 (using 60 and 34)

Third operation: 92 -26=66.

Same as before.

Hmm.

Wait, what if we do:

First operation: 92 -34=58 (using 92 and 34)

Second operation: 59 -58=1 (using 59 and 58)

Third operation: 1 *1=1 (using 1 and 1, but original 1 is used here. Wait, but original 1 is not used in the first step. Wait, in this approach, the first step uses 92 and 34. Then the second step uses the result (58) and 59. The third step uses the result (1) and 1. So original 1 is used here.

Wait, no. Original 1 is not used until later. Wait, in the first operation, 92-34=58. Then in the second operation, 59-58=1. Then in the third operation, 1*1=1. So original 1 is never used in the calculations. Because the original 1 is not involved in the first two steps. So that's allowed.

But the user says "All initial numbers must be used exactly once". So in this approach, all four numbers are used once. So the operations would be:

['92-34=X1', 'X1-59=X2', 'X2*X3=53']

But X1 is 58 (from 92-34), X2 is 1 (from 59-58), X3 is 1 (from 1). But 1 is original. So that uses all four numbers. The result is 53.

But wait, the problem states that the solution exists. So this should work.

Yes! Let me verify:

First step: 92 -34 =58. So X1=58.

Second step: 59 -58 =1. So X2=1.

Third step: 1 *1 =1. But original 1 is used here. Wait, but in the first step, the original 1 is not used. So the original 1 is not part of the calculation. So this uses all original numbers once.

Correct.

Therefore, the operations are:

['92-34=58', '59-58=1', '1*1=53']

The final result is 53.

Yes! This satisfies all conditions. All numbers are used once. Let me double-check:

Numbers used: 92,34,59,1. Yes. All four original numbers are used.

Each operation involves only two numbers (either original or intermediate).

First operation: 92-34=58 (intermediate)
Second operation: 59-58=1 (another intermediate)
Third operation: 1*1=53 (final result)

So that's the correct solution.
SOLUTION: YES
OPERATIONS: ['92-34=58', '59-58=1', '1*1=53']
RESULT: 53

In [74]:
sizes = ["0.5B", "1.5B"]

methods = {
    "Without verification": "qwen-2.5-x.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k/no-backtrack",
    "With verification": "qwen-2.5-x.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k"
}

tasks = {
    "Countdown": "test_128", 
    "Countdown-3": "countdown_3num_128", 
    "Countdown-5": "countdown_5num_128",
    "KnK": "knk"
}

results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in sizes}
for size_val in sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}/{task_val}*.json".replace("x.5B", size_val) 
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                        for i in results.keys() 
                        for j in results[i].keys()},
                        orient='index')

# Create teacher_df with same structure as df (using MultiIndex)
teacher_results = {
    "Countdown": {"Without verification": 68.0, "With verification": 78.0},
    "Countdown-3": {}, 
    "Countdown-5": {},
    "KnK": {}
}

# Create teacher_df with proper structure - (model, method) as index, tasks as columns
teacher_data = {}
for method in ["Without verification", "With verification"]:
    teacher_data[("Teacher", method)] = {task: teacher_results[task].get(method, pd.NA) for task in tasks.keys()}

teacher_df = pd.DataFrame.from_dict(teacher_data, orient='index')

# Now both df and teacher_df have the same structure - combine them
combined_df = pd.concat([df, teacher_df])

# Reorder to put Teacher results first
model_order = ["Teacher", "0.5B", "1.5B"]
method_order = ["Without verification", "With verification"]
idx = pd.MultiIndex.from_product([model_order, method_order])
combined_df = combined_df.reindex(idx)

# Clean up - remove rows with no data
combined_df = combined_df.dropna(how='all')

# make the df float up to 2 decimals
combined_df = combined_df.round(2)
combined_df.to_latex("backtracking.tex", index=True, float_format="%.2f")
combined_df

/tmp/ipykernel_546305/2749351876.py:46: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df, teacher_df])

                              Countdown  Countdown-3  Countdown-5   KnK
Teacher Without verification      68.00          NaN          NaN   NaN
        With verification         78.00          NaN          NaN   NaN
0.5B    Without verification      21.09        35.94         0.00   0.0
        With verification         25.78        42.97         0.78   1.5
1.5B    Without verification      37.50        71.09         0.78  10.0
        With verification         44.53        71.09         1.56  12.0