In [ ]:
import json
import pandas as pd
import glob as glob

methods = {
    "Baseline": "qwen-2.5-x.5B-instruct-countdown-baseline",
    "OP": "qwen-2.5-x.5B-instruct-sft-lora-countdown-optimal-seq8k-5k",
    "SoS": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-seq8k-5k", 
    "RSoS": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-correct-seq10k-5k", 
    "Distill": "qwen-2.5-x.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k"
}

tasks = {
    "Countdown": "test_128", 
    "Countdown-3": "countdown_3num_128", 
    "Countdown-5": "countdown_5num_128",
    "KnK": "knk"
}

sizes = ["0.5B", "1.5B"]

def parse_results_from_json(file):
    try:
        with open(file, 'r') as f:
            data = json.load(f)
        # print("File:", file)
        # Extract the relevant information from the JSON data   
        if "knk" in file:
            return data["scores"]["2ppl"]    
        if "countdown" in file or "test" in file:
            # hyperparams = data[0]['hyperparams']
            return data[1]['mean']*100
    except Exception as e:
        print("Error reading file:", file)
        print("Error message:", e)
        return None

# initialize results to store for sizes, method_key, task_key
results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in sizes}

for size_val in sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}/{task_val}*.json".replace("x.5B", size_val) 
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                 
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                           for i in results.keys() 
                           for j in results[i].keys()},
                           orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("results.tex", index=True, float_format="%.2f")
df

                0.5B                                1.5B                      \
            Baseline    OP    SoS  RSoS Distill Baseline    OP    SoS   RSoS
Countdown        0.0  2.34  37.50  0.78   25.78     0.78  5.47  49.22  52.34
Countdown-3      0.0  1.56  33.59  0.00   42.97     3.12  4.69  57.81  62.50
Countdown-5      0.0  0.78   0.00  0.00    0.78     0.00  0.78   0.00   0.00
KnK              1.0  1.50   0.00  0.00    1.50     7.00  2.50   0.00   0.00


            Distill
Countdown     44.53
Countdown-3   71.09
Countdown-5    1.56
KnK           12.00

In [10]:
sizes = ["1.5B"]

methods = {
    "No rejection \nsampling": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-seq10k-5k",
    "With rejection \nsampling": "qwen-2.5-x.5B-instruct-sft-lora-countdown-search-react-correct-seq10k-5k"
}

tasks = {
    "Countdown:": "test_128", 
}

results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in sizes}
for size_val in sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}/{task_val}*.json".replace("x.5B", size_val) 
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                        for i in results.keys() 
                        for j in results[i].keys()},
                        orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("results.tex", index=True, float_format="%.2f")
df

                              1.5B
           No rejection \nsampling With rejection \nsampling
Countdown:                     NaN                     52.34

In [19]:
results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in training_sizes}
results

{'1k': {'SoS': {'Countdown:': None}, 'Distill': {'Countdown:': None}},
 '5k': {'SoS': {'Countdown:': None}, 'Distill': {'Countdown:': None}}}

In [21]:
training_sizes = ["1k", "5k"]

methods = {
    "SoS": "qwen-2.5-1.5B-instruct-sft-lora-countdown-search",
    "Distill": "qwen-2.5-1.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k"
}

tasks = {
    "Countdown:": "test_128", 
}

results = {size: {method_key: {task_key: None for task_key in tasks.keys()} for method_key in methods.keys()} for size in training_sizes}
for size_val in training_sizes:
    for method_key, method_val in methods.items():
        for task_key, task_val in tasks.items():
            folder_to_look_for = f"./{method_val}*{size_val}/{task_val}*.json"
            specific_file = glob.glob(folder_to_look_for)
            if specific_file:
                results[size_val][method_key][task_key] = parse_results_from_json(specific_file[0])
            
# above works, put their filepath in a pandas df
                
# put results in a pandas df
df = pd.DataFrame.from_dict({(i, j): results[i][j] 
                        for i in results.keys() 
                        for j in results[i].keys()},
                        orient='index')
# Tranpose
df = df.transpose()
# make the df float up to 2 decimals
df = df.round(2)
df.to_latex("1k-vs-5k.tex", index=True, float_format="%.2f")
df

               1k             5k
              SoS Distill    SoS Distill
Countdown:  32.81   31.25  52.34   44.53

In [29]:
# load json
with open("/cs/student/msc/ml/2024/ycheah/projects/sos/stream-of-search/results/qwen-2.5-1.5B-instruct-sft-lora-countdown-deepseek-correct-seq8k-5k/test_128_20250406-195241.json", 'r') as f:
    data = json.load(f)
    
i = 2
print(f"Solved: {data[i]['parsed_results']['solved']} \n", data[i]['completion'])

Solved: True
 system
You are Qwen, created by Alibaba Cloud. You are a helpful assistant.
user
Combine these initial numbers [53, 57, 13, 48] using only arithmetic operations (+, -, *, /) to reach the target value 64. All initial numbers must be used exactly once.
Conclude with the final result in EXACTLY this format:
```
SOLUTION: YES/NO
OPERATIONS: list of string of operations performed, each string involving only 1 operation. For example, ['A+B=C','C+D=E'] is allowed, ['A+B+D=E'] is not allowed
RESULT: final_value
```

Note that the solution does exist. Verify your solutions before your present your final results and backtrack to correct mistakes from before your mistakes if you have to.
assistant
Okay, let's see. I need to combine the numbers 53, 57, 13, and 48 using each exactly once with arithmetic operations to get 64. Hmm. Let me think about possible combinations.

First, maybe start by trying some operations. Let's look at the larger numbers first. 57 is close to 64. If we subtract something from it? Like 57 - 13 = 44. Then maybe 44 plus another number. Wait, but then we still have 53 left. How do I incorporate all four numbers?

Alternatively, perhaps combining two pairs first. For instance, (53 + 57) would give 110. But how to use the other two numbers (13 and 48). Maybe 110 minus 13 gives 97, which isn't helpful. Or adding them together might be 25, which doesn't help. Hmm.

Wait, what if I multiply some numbers. Let's see. 53 multiplied by something... Not sure. Alternatively, dividing. For example, 57 divided by 13 is approximately 4.3846. Then 48 minus that would be around 43.615. Adding 53 would be way over. Not helpful.

Another approach: maybe using subtraction and division. Let's try to create intermediate steps. Suppose we take 57 - 13 = 44. Then 48 - 44 = 4. Then 53 * 4? That's too big. Not helpful.

What if I add 53 and 13 first? 53 + 13 = 66. Then subtract 57? 66-57=9. Then 48 -9=39. No. Doesn't work.

Hmm. Let's think differently. What if we use multiplication and addition. Like 57 * (something) plus or minus others. Let's say 57*(something) is part of a combination. For example, 57*13 is 741. Then 741 - (53 +48) = 741-101=640. That's way off. Not helpful.

Alternatively, 53 + 13 =66. Then 57 - 48 =9. 66 +9=75. Still no.

Wait, maybe combining three numbers first. Let's see:

Take 53, 57, 13. Let's see. 57 - 53 =4. Then 4 +13=17. Then 48 /17 ≈2.823. Not helpful.

Alternatively, 57 - (53 -13) =57-40=17. Then 17 +48=65. Close but not 64.

Or 57 +13=70. Then 70 -53=17. 17 +48=65 again.

Hmm. Not working. Maybe a different order.

Let's think about fractions. For example, 53 divided by something. 53/(13)≈4.076. Then 57 -4.076=52.924. Then 52.924 +48≈100.924. Not useful.

Alternatively, 53/(57-13)=53/44≈1.204. Then 1.204 *48≈57.92. Then 57.92 -57=0.92. Not helpful.

This seems tricky. Maybe there's a way to pair 48 and 53. Let's see. 53 +48=101. Then 101 -57=44. Then 44 +13=57. Not 64.

Alternatively, 48 +53=101. 101 -57=44. 44 *13=572. Way too big.

Wait, maybe 53 + 48 =101. Then 101 -57=44. Then 44 *13=572. Nope.

Another angle: Using division to reduce numbers. Like 57 divided by 13 is about 4.3846. Then 53 +48=101. 101 divided by 4.3846 is ~23. So 23 +4.3846≈27.3846. Not helpful.

Hmm. Let's try a different path. Maybe combining 57 and 48 first. 57 +48=105. Then 105 -53=52. Then 52 +13=65. Again same as before.

Alternatively, 57 -48=9. 9 *13=117. 117 -53=64. Oh! Wait, that works. Let me check:

Steps:

First operation: 57 -48 = 9

Second operation: 13 *9 =117

Third operation: 117 -53=64

But wait, does this use all four numbers exactly once? Yes: 57 and 48 are used in the first step. 13 is used in the second. 53 is used in the third. So yes, all four are used once each. And the result is 64. Perfect!

So the operations would be:

['57-48=9', '13*9=117', '117-53=64']

Yes! That should work. Let me verify:

First operation: 57 minus 48 equals 9. Correct.

Second operation: Multiply 13 times 9 gives 117. Correct.

Third operation: Subtract 53 from 117 gives 64. Exactly right.

All original numbers are used once. The final result is 64. This solves the problem.
SOLUTION: YES
OPERATIONS: ['57-48=9', '13*9=117', '117-53=64']
RESULT: 64